{{!< default}}

<header class="animated fadeIn" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="container" data-stellar-ratio="0.75">
        <div class="title animated fadeInUp">
            {{#author}}
                <h1>{{name}}</h1>
                <p>{{bio}}</p>
                <p class="networks">
                    <ul>
                        <li><a href="https://github.com/slogsdon" title="Follow me on GitHub">slogsdon on GitHub</a></li>
                        <li><a href="https://twitter.com/shanelogsdon" title="Follow me on Twitter">shanelogsdon on Twitter</a></li>
                        <li><a href="https://plus.google.com/+ShaneLogsdon?rel=author" title="Follow me on Google+">Shane Logsdon on Google+</a></li>
                    </ul>
                </p>
            {{/author}}
        </div>
        <div class="sidebar text-right meta">
            <div class="published animated fadeInUp">
                <div class="author-image">
                    {{#author}}
                        <img src="{{image}}" alt="{{name}}" />
                    {{/author}}
                </div>
                <strong class="article-count text-center">{{plural pagination.total empty="No posts" singular="% article" plural="% articles"}}</strong>
            </div>
        </div>
    </div>
</header>

{{> excerpts}}
