<article class="page">
  <header class="header">
  </header>

  <section class="content lh-copy">
    <h2 class="f2 f1-l">Recent Projects</h2>

    <% site.data.projects.slice(0, 5).forEach(function (project) { %>
      <%- partial('_partial/project-listing', {project: project}) %>
    <% }) %>

    <p>See more under <a href="<%- url_for('/projects/') %>">All Projects</a></p>

    <h2 class="f2 f1-l">Recent Posts</h2>

    <% site.posts
          .filter(function (p) { return p.tags.filter(function (t) { return t.name === 'talk' }).length === 0 })
          .sort('date', 'desc').slice(0, 5).forEach(function (post) { %>
      <%- partial('_partial/post-listing', {post: post}) %>
    <% }) %>

    <p>See more under <a href="<%- url_for('/posts/') %>">All Posts</a></p>

    <h2 class="f2 f1-l">Recent Presentations</h2>

    <% site.posts
          .filter(function (p) { return p.tags.filter(function (t) { return t.name === 'talk' }).length })
          .sort('date', 'desc').slice(0, 5).forEach(function (presentation) { %>
      <%- partial('_partial/presentation-listing', {presentation: presentation}) %>
    <% }) %>

    <p>See more under <a href="<%- url_for('/presentations/') %>">All Presentations</a></p>
    <%- partial('_partial/classify-elements') %>
  </section>
</article>
