<article class="presentation">
  <h2 class="mb1">
    <a class="presentation-link black-70" href="<%= presentation.path.replace('index.html', '') %>">
      <%= presentation.title %>
    </a>
  </h2>
  <div class="presentation-meta f6 black-50">
    Location: <%= presentation.location || 'Unknown' %><br>
    <% if (presentation.tags.filter(function (t) { return t.name === 'workshop' }).length) { %>Workshop Led<% } else { %>Presented<% } %>: <%= date(presentation.date, 'MMM Do, YYYY') %>
  </div>
  <% if (presentation.description) { %>
    <p class="presentation-description"><%= presentation.description %></p>
  <% } %>
</article>
