<article class="project">
  <h2 class="mb1">
    <a class="project-link black-70" id="{{ slug }}" href="<%= project.url %>">
      <%= project.name %>
    </a>
  </h2>
  <div class="project-meta f6 black-50">
    Primary Language: <%= project.language || 'Unknown' %> <br />
    Published: <%- date(project.created, 'MMM Do, YYYY') %> &ndash;
    Updated: <%- date(project.updated, 'MMM Do, YYYY') %>
  </div>
  <p class="project-description"><%= project.description %></p>
</article>
