<% if (page.path == "/" || page.path == "/about/") { %>
  <% var seo_homepage_or_about = true %>
<% } %>

<% if (config.url) { %>
  <% var seo_url = config.url + '/' %>
<% } %>
<% var seo_site_title = config.title || config.name %>

<% if (page.title) { %>
  <% var seo_title = page.title %>
  <% var seo_page_title = page.title %>

  <% if (seo_site_title) { %>
    <% var seo_title = seo_title + " - " + seo_site_title %>
  <% } %>
<% } else if (seo_site_title) { %>
  <% var seo_title = seo_site_title %>
  <% var seo_page_title = seo_site_title %>

  <% if (config.description) { %>
    <% var seo_title = seo_title + " - " + config.description %>
  <% } %>
<% } %>

<% if (page.seo && page.seo.name) { %>
  <% var seo_name = page.seo.name %>
<% } else if (seo_homepage_or_about && config.social && config.social.name) { %>
  <% var seo_name = config.social.name %>
<% } else if (seo_homepage_or_about && seo_site_title) { %>
  <% var seo_name = seo_site_title %>
<% } %>
<% if (seo_name) { %>
  <% var seo_name = seo_name %>
<% } %>

<% if (seo_title) { %>
  <% var seo_title = seo_title %>
<% } %>

<% if (seo_site_title) { %>
  <% var seo_site_title = seo_site_title %>
<% } %>

<% if (seo_page_title) { %>
  <% var seo_page_title = seo_page_title %>
<% } %>

<% var seo_description = page.description || page.excerpt || config.description %>
<% if (seo_description) { %>
  <% var seo_description = seo_description.replace("\n", ' ').replace("\r", ' ').trim() %>
<% } %>

<% var seo_author = page.author || (page.authors && page.authors[0]) || config.author %>
<% if (seo_author) { %>
  <% if (seo_author.twitter) { %>
    <% var seo_author_twitter = seo_author.twitter %>
  <% } else { %>
    <% if (site.data.authors && site.data.authors[seo_author]) { %>
      <% var seo_author_twitter = site.data.authors[seo_author].twitter  %>
    <% } else { %>
      <% var seo_author_twitter = seo_author  %>
    <% } %>
  <% } %>
  <% var seo_author_twitter = seo_author_twitter.replace("@", "") %>
<% } %>

<% if (page.seo && page.seo.type) { %>
  <% var seo_type = page.seo.type %>
<% } else if (seo_homepage_or_about) { %>
  <% var seo_type = "WebSite" %>
<% } else if (page.date) { %>
  <% var seo_type = "BlogPosting" %>
<% } else { %>
  <% var seo_type = "WebPage" %>
<% } %>

<% if (page.seo && page.seo.links) { %>
  <% var seo_links = page.seo.links %>
<% } else if (seo_homepage_or_about && config.social && config.social.links) { %>
  <% var seo_links = config.social.links %>
<% } %>

<% if (page.author) { %>
  <% var seo_author = site.data.authors[page.author] %>
<% } %>

<% var seo_site_logo = config.logo || seo_author.picture %>

<% if (page.image) { %>
  <% var seo_page_image = seo_url + '/assets/images/' + page.image %>
<% } else { %>
  <% var seq_page_image = seo_site_logo %>
<% } %>

  <title><%= seo_title || '' %></title>
  <meta property="og:title" content="<%= seo_page_title || '' %>" />
  <meta name="description" content="<%= seo_description || '' %>" />
  <meta property="og:description" content="<%= seo_description || '' %>" />
  <link rel="canonical" href="<%= seo_url + (page.path || '').replace('index.html', '') %>" />
  <meta property="og:url" content="<%= seo_url + (page.path || '').replace('index.html', '') %>" />
  <meta property="og:site_name" content="<%= seo_site_title || '' %>" />
  <meta property="og:image" content="<%= seo_page_image || '' %>" />
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="<%= date_xml(page.date) %>" />
  <% if (page.next) { %>
    <link rel="next" href="<%= seo_url + (page.next.path || '').replace('index.html', '') %>" title="<%= page.next.title || '' %>" />
  <% } %>
  <% if (page.previous) { %>
    <link rel="prev" href="<%= seo_url + (page.previous.path || '').replace('index.html', '') %>" title="<%= page.previous.title || '' %>" />
  <% } %>

<% if (config.twitter) { %>
  <% if (seo_page_image) { %>
    <meta name="twitter:card" content="summary_large_image" />
  <% } else { %>
    <meta name="twitter:card" content="summary" />
  <% } %>

  <meta name="twitter:site" content="@<%= config.twitter.username.replace("@", "") %>" />

  <% if (seo_author_twitter) { %>
    <meta name="twitter:creator" content="@<%= seo_author_twitter %>" />
  <% } %>
<% } %>

<% if (config.facebook) { %>
  <% if (config.facebook.publisher) { %>
    <meta property="article:publisher" content="<%= config.facebook.publisher %>" />
  <% } %>

  <% if (config.facebook.app_id) { %>
    <meta property="fb:app_id" content="<%= config.facebook.app_id %>" />
  <% } %>
<% } %>

<% if (config.google_site_verification) { %>
  <meta name="google-site-verification" content="<%= config.google_site_verification %>" />
<% } %>

<script type="application/ld+json">{"@context": "http://schema.org",<% if (seo_type) { %>"@type": "<%= seo_type || '' %>",<% } %><% if (seo_name) { %>"name": "<%= seo_name || '' %>",<% } %><% if (seo_page_title) { %>"headline": "<%= seo_page_title || '' %>",<% } %><% if (seo_page_image || seo_site_logo) { %>"image": "<%= seo_page_image || seo_site_logo || '' %>",<% } %><% if (page.date) { %>"datePublished": "<%= date_xml(page.date) %>",<% } %><% var page_modified_date = page.modified || page.date %><% if (page_modified_date) { %>"dateModified": "<%= date_xml(page_modified_date) %>",<% } %><% if (seo_description) { %>"description": "<%= seo_description || '' %>",<% } %><% if (seo_links) { %>"sameAs": "<%= seo_links || '' %>",<% } %><% if (seo_author) { %>"author": {"@type": "Person","name": "<%= seo_author.name || '' %>","image": "<%= seo_site_logo || '' %>"},"publisher": {"@type": "Organization","name": "<%= seo_author.name || '' %>","logo": {"@type": "ImageObject","url": "<%= seo_site_logo || '' %>","width": "60","height": "60"}},<% } %>"mainEntityOfPage": "<%= seo_url + (page.path || '').replace('index.html', '') %>","url": "<%= seo_url + (page.path || '').replace('index.html', '') %>"}</script>
